@(mandatoForm: Form[br.ufes.scap.models.MandatoFormData],users : Seq[br.ufes.scap.models.User])(implicit request: RequestHeader)
@main() {

    @mandatoForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<form id="mandato-data-form" role="form" action='@br.ufes.scap.controllers.routes.MandatosController.addMandato()' method="post"
      class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="mandato-fieldset">
        <div class="col-xs-4">
            <div class="mandato-form">
                <label class="form-title"
                       style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Registro Novo Mandato</label>
            <br/>

		<br>

		Professor  
		<select id=idProfessor name="idProfessor" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>

		<br>
		<br>

            Cargo
		<select id=cargo name="cargo" value="">
    			<option value="PRESIDENTE">PRESIDENTE</option>
    			<option value="VICE-PRESIDENTE">VICE-PRESIDENTE</option>
		</select>

		<br>
		<br>

			Data de início do mandato
  			<input type="date" name="dataIniMandato" value="" 
				placeholder="XX/XX/XXXX" aria-describedby="sizing-addon1" required> 

  		<br>
		<br>
		<br>

			Data de fim do mandato
  			<input type="date" name="dataFimMandato" value="" 
				placeholder="XX/XX/XXXX" aria-describedby="sizing-addon1" required> 
  		
		<br>
		<br>
		<br>

            <button type="submit" class="btn btn-primary ynt-btn-orange">Adicionar Mandato</button>
        </div>
    </fieldset>
</form>

<br>
<br>
<br>

		
<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get" align="center">
                <button type="submit" >Voltar ao Menu Principal</button>
</form>
}
