@(mandatoForm: Form[br.ufes.scap.models.MandatoFormData],users : Seq[br.ufes.scap.models.User])()
@main() {
<body bgcolor="teal"  >
    @mandatoForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}


<form role="form" action='@br.ufes.scap.controllers.routes.MandatosController.addMandato()' method="post" align="center" >

    <fieldset>
            
		<h1><font face="trebuchet ms" color="white">Registrar Novo Mandato</font></h1>


            <font color="white" face="trebuchet ms">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp Professor &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp&nbsp </font>  
		<select id=idProfessor name="idProfessor" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>

		<br>
		<br>

            <font color="white" face="trebuchet ms">&nbsp;&nbsp;&nbsp;&nbsp Cargo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>  
		<select id=cargo name="cargo" value="">
    			<option value="PRESIDENTE">PRESIDENTE</option>
    			<option value="VICE-PRESIDENTE">VICE-PRESIDENTE</option>
		</select>

		<br>
		<br>


                  <font color="white" face="trebuchet ms">Início do mandato &nbsp;&nbsp </font>  
  			<input type="date" id="dataIniMandato" name="dataIniMandato" value="" required> 

		<br>
		<br>

                  <font color="white" face="trebuchet ms">Fim do mandato &nbsp;&nbsp;&nbsp;&nbsp </font>  
  			<input type="date" id="dataFimMandato" name="dataFimMandato" value="" required> 
  		
		<br>
		<br>
		<br>

            <button type="submit" class="btn btn-primary ynt-btn-orange">Registrar</button>
    </fieldset>
</form>

<br>
<br>
<br>

		
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
</body>
}
