@(parecerForm: Form[br.ufes.scap.models.ParecerFormData], solicitacao : br.ufes.scap.models.SolicitacaoFull)(implicit request: RequestHeader)

@import br.ufes.scap.models.TipoJulgamento

@main() {

    @parecerForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}


<form action = "@br.ufes.scap.controllers.routes.PareceresController.registrarParecer(solicitacao.id)" method = "post" align="center">
 
<fieldset>
        <div class="col-xs-4">
            <div>
                <label style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Registrar Parecer</label>
            </div>
            <br/>

         	<p>Determinar o parecer<p>
		<select id="julgamento" name="julgamento" value="">
		@for(j <- TipoJulgamento.values){
  			<option value=@j.toString()>@j.toString()</option>
		}
		</select>
            </div>

		<br>
		<p>Escreva o motivo</p>
         <textarea id="motivo"  align="center" name="motivo" rows = "5" cols = "50" name = "description">
         </textarea>
		<br>
<br>
<br>
<br>
         <input type = "submit" onclick="return confirm('Você tem certeza de que deseja registrar esse parecer? Não é possível alterá-lo depois.');" value = "Registrar">
      
        </div>
    </fieldset>
</form>


<br>
<br>
<br>

		
<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get" align="center">
                <button type="submit" >Voltar ao Menu Principal</button>
</form>
}
