@(parentescoForm: Form[br.ufes.scap.models.ParentescoFormData], users : Seq[br.ufes.scap.models.User])(implicit request: RequestHeader)
@main() {


<body bgcolor="teal"  >

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

    @parentescoForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}



<form role="form" action='@br.ufes.scap.controllers.routes.ParentescosController.addParentesco()' method="post" align="center" autocomplete="off">

    <fieldset>
        
		<h1><font face="trebuchet ms" color="white">Registrar Parentesco</font></h1>

            <font color="white" face="trebuchet ms"> Professor(a) &nbsp;&nbsp;&nbsp  </font>
		<select id=idProfessor1 name="idProfessor1" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>

		<br>
		<br>

             <font color="white" face="trebuchet ms"> Parente de &nbsp;&nbsp  </font>
		<select id=idProfessor2 name="idProfessor2" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>

		<br>
		<br>
             <font color="white" face="trebuchet ms"> *Parentescos podem ser sanguíneos ou matrimoniais  </font>

		<br>
		<br>
		<br>

            <button type="submit" ">Registrar</button>

    </fieldset>
</form>

<br>
<br>
<br>
<br>
		
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
</body>

}
