@(parentescoForm: Form[br.ufes.scap.models.ParentescoFormData], users : Seq[br.ufes.scap.models.User])(implicit request: RequestHeader)
@main() {

    @parentescoForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<form id="parentesco-data-form" role="form" action='@br.ufes.scap.controllers.routes.ParentescosController.addParentesco()' method="post"
      class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="parentesco-fieldset">
        <div class="col-xs-4">
            <div class="parentesco-form">
                <label class="form-title"
                       style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Registro Novo Parentesco</label>
            </div>
            <br/>

            Professor 
		<select id=idProfessor1 name="idProfessor1" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>

		<br>
		<br>

            Parente de
		<select id=idProfessor2 name="idProfessor2" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>

		<br>
		<br>
    </ul>
  </div>


            <br/>
            <button type="submit" ">Adicionar Novo Parentesco</button>

        </div>
    </fieldset>
</form>

<br>
<br>
<br>

		
<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get" align="center">
                <button type="submit" >Voltar ao Menu Principal</button>
</form>

}
