@(manifestacaoForm: Form[br.ufes.scap.models.ManifestacaoFormData], solicitacao : br.ufes.scap.models.SolicitacaoFull)(implicit request: RequestHeader)
@main() {

    @manifestacaoForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}

<body bgcolor="teal"  >
<fieldset>
      <form action = "@br.ufes.scap.controllers.routes.PareceresController.manifestarContra(solicitacao.id)" align="center"
	method = "post">
         <br />
         
		<h1><font color="white" face="trebuchet ms"> Manifestar-se contra a solicitação</font></h1>
<br>

	   <font color="white" face="trebuchet ms">Motivo: </font>
		<br>
         <textarea id="motivo"  align="center" name="motivo" rows = "5" cols = "50">
         </textarea>
         
<br>
         <input onclick="return confirm('Você tem certeza de que deseja se manifestar contra essa solicitação?');" type = "submit" value = "Registrar">
      </form>
</fieldset>


<br>
<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
</body>
}
