@(parecerForm: Form[br.ufes.scap.models.ParecerFormData], solicitacao : br.ufes.scap.models.SolicitacaoFull)(implicit request: RequestHeader)

@import br.ufes.scap.models.TipoJulgamento

@main() {
<body bgcolor="teal"  >
    @parecerForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>


<form action = "@br.ufes.scap.controllers.routes.PareceresController.registrarParecer(solicitacao.id)" method = "post" align="center">
 
<fieldset>
		<h1><font color="white" face="trebuchet ms"> Registrar Parecer </font></h1>
            <br/>

         	<font color="white" face="trebuchet ms">Julgamento: &nbsp;&nbsp</font>
		<select id="julgamento" name="julgamento" value="">
		@for(j <- TipoJulgamento.values){
  			<option value=@j.toString()>@j.toString()</option>
		}
		</select>
		<br>
		<br>
		<br>
         	<font color="white" face="trebuchet ms">Motivo: </font>
		<br>
         <textarea id="motivo"  align="center" name="motivo" rows = "5" cols = "50">
         </textarea>
		<br>
<br>
<br>
<br>
         <input type = "submit" onclick="return confirm('Você tem certeza de que deseja registrar esse parecer? Não é possível alterá-lo depois.');" value = "Registrar">
      
    </fieldset>
</form>


<br>
<br>
<br>

		
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>

</body>
}
