@(manifestacaoForm: Form[br.ufes.scap.models.ManifestacaoFormData], solicitacao : br.ufes.scap.models.SolicitacaoFull)(implicit request: RequestHeader)
@main() {

    @manifestacaoForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<body>
      <form action = "@br.ufes.scap.controllers.routes.PareceresController.manifestarContra(solicitacao.id)" align="center"
	method = "post">
         <br />
         
         <textarea id="motivo"  name="motivo" rows = "5" cols = "50" name = "description">
		Escreva o motivo de se posicionar contrário a essa solicitação
         </textarea>
         
<br>
         <input onclick="return confirm('Você tem certeza de que deseja se manifestar contra essa solicitação?');" type = "submit" value = "Registrar">
      </form>
</body>


<br>
<br>
<br>

		
<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get" align="center">
                <button type="submit" >Voltar ao Menu Principal</button>
</form>
}
