@(parecerForm: Form[br.ufes.scap.models.ParecerFormData], solicitacao : Option[br.ufes.scap.models.Solicitacao])(implicit request: RequestHeader)
@main() {

    @parecerForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<body>
      <form action = "@br.ufes.scap.controllers.routes.PareceresController.registrarParecer(solicitacao.get.id)" 
	method = "post">
         <br>
         	<p>Determinar o parecer
		<select id=julgamento name="julgamento" value="">
  			<option value="FAVORAVEL">FAVORÁVEL</option>
  			<option value="DESFAVORAVEL">DESFAVORÁVEL</option>
		</select>
            </div>

		<br>
		<br>
         <textarea id="motivo"  align="center" name="motivo" rows = "5" cols = "50" name = "description">
		Escreva o motivo
         </textarea>
		
         
<br>
         <input type = "submit" onclick="return confirm('Você tem certeza de que deseja registrar esse parecer?');" value = "Registrar">
      </form>
</body>


<br>
<br>
<br>

		
<form id="user-add-form" role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Voltar ao Menu Principal</button>
            </div>
</form>
}
