@(parecerDocumentoForm: Form[br.ufes.scap.models.ParecerDocumentoFormData], solicitacao : br.ufes.scap.models.SolicitacaoFull)(implicit request: RequestHeader)

@import br.ufes.scap.models.{StatusSolicitacao, TipoJulgamento, Setor}

@main() {

    @parecerDocumentoForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<body>
      <form action = "@br.ufes.scap.controllers.routes.PareceresDocumentoController.registrarParecerDocumento(solicitacao.id)" align="center"
	method = "post">
         <br>

		Parecer: 

		@if(solicitacao.status.equals(StatusSolicitacao.AprovadaCT.toString())){
		<input type="text" readonly="readonly" name="tipo" id="tipo" value=@Setor.PRPPG.toString()>
		}else{
		<input type="text" readonly="readonly" name="tipo" id="tipo" value=@Setor.CT.toString()>	
		}
		<br> 
		<br>
		<br> 
		<br>

    		Escolha o documento para anexar:
    		<input type="file" name="filePath" id="filePath">

		<br> 
		<br>
		<br> 
		<br>

		<select id=julgamento name="julgamento" value="">
		@for(j <- TipoJulgamento.values){
  			<option value=@j.toString()>@j.toString()</option>
		}
		</select>
            </div>
		<br> 
		<br>
		
         
<br>
         <input type = "submit" align="center" onclick="return confirm('Você tem certeza de que deseja registrar esse parecer?');" value = "Registrar">
      </form>
</body>


<br>
<br>
<br>

		
<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get" align="center">
                <button type="submit" >Voltar ao Menu Principal</button>
</form>
}
