@(solicitacaoForm: Form[br.ufes.scap.models.SolicitacaoFormData])()
@main() {

    @solicitacaoForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}

<body bgcolor="teal"  >
<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

<form role="form" action='@br.ufes.scap.controllers.routes.SolicitacoesController.addSolicitacao()' method="post" align="center" autocomplete="off">

    <fieldset>
            <h1><font face="trebuchet ms" color="white">Registrar Solicitação de Afastamento</font></h1>


                  <font color="white" face="trebuchet ms">Data de início do afastamento &nbsp;&nbsp </font>  
  			<input type="date" id="dataIniAfast" name="dataIniAfast" value="" required> 
  			<br>

		<br>
		<br>

                  <font color="white" face="trebuchet ms">Data de fim do afastamento &nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>  
  			<input type="date" id="dataFimAfast" name="dataFimAfast" value="" required> 
  			<br>

		<br>
		<br>


                  <font color="white" face="trebuchet ms">Data de início do evento &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>  
  			<input type="date" id="dataIniEvento" name="dataIniEvento" value="" required> 
  			<br>

		<br>
		<br>


                  <font color="white" face="trebuchet ms">Data de fim do evento &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</font>  
  			<input type="date" id="dataFimEvento" name="dataFimEvento" value="" required> 
  			<br>

		<br>
		<br>

 		    <font color="white" face="trebuchet ms">Nome do Evento &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>  
                <input type="text" id="nomeEvento" name="nomeEvento" value="" placeholder="nome do evento" required>
                <br>

		<br>
		<br>

 		    <font color="white" face="trebuchet ms">Cidade do Evento &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>  
                <input type="text" id="cidade" name="cidade" value="" placeholder="cidade do evento" autocomplete="false" required>
                <br>

		<br>
		<br>

 		    <font color="white" face="trebuchet ms">Ônus &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>  
		<select id=onus name="onus" value="">
    			<option value="INEXISTENTE">INEXISTENTE</option>
    			<option value="PARCIAL">PARCIAL</option>
    			<option value="TOTAL">TOTAL</option>
		</select>

		<br>
		<br>

 		    <font color="white" face="trebuchet ms">Tipo do Afastamento &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>  
		<select id=tipoAfastamento name="tipoAfastamento" value="">
    			<option value="NACIONAL">NACIONAL</option>
    			<option value="INTERNACIONAL">INTERNACIONAL</option>
		</select>

		<br>
		<br>


            <br/>
                <button type="submit">Registrar</button>

    </fieldset>
</form>
<br>
		
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>

</body>
}
