@(userForm: Form[br.ufes.scap.models.UserFormData])()
@main() {

    @userForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}
<body bgcolor="teal"  >

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>


<form role="form" action='@br.ufes.scap.controllers.routes.UsersController.addUser()' method="post" align="center" autocomplete="off">

    <fieldset>
              <h1><font face="trebuchet ms" color="white"> Registrar Novo Usuário </font></h1>
            <br/>

                <font color="white" face="trebuchet ms">Nome &nbsp;&nbsp </font>  
                <input type="text" id="nome" name="nome" value="" placeholder="Nome" required>
                <br>

		<br>

                <font color="white" face="trebuchet ms"> Matricula &nbsp;&nbsp </font>  
                <input type="text" class="form-control" id="matricula" name="matricula" value="" placeholder="Matricula"
                       required>
                <br>

		<br>

                <font color="white" face="trebuchet ms">E-mail&nbsp;&nbsp </font>  
                <input type="text"  id="email" name="email" value="" placeholder="Email"
                       required>
		<br>
		<br>

                <font color="white" face="trebuchet ms">Senha  &nbsp;&nbsp </font>  
                <input type="password" id="password" name="password" value="" placeholder="Senha"
                       required>
                <br>

		<br>

            <font color="white" face="trebuchet ms">Tipo &nbsp;&nbsp </font>  
		<select id=tipo name="tipo" value="">
    			<option value="PROFESSOR">PROFESSOR(A)</option>
    			<option value="SECRETARIO">SECRETARIO(A)</option>
		</select>


<br>
<br>
            <br/>
                <button type="submit" class="btn btn-primary ynt-btn-orange">Registrar</button>

    </fieldset>
</form>

<br>
<br>
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
</body>

}
