@(userForm: Form[br.ufes.scap.models.UserFormData])(implicit request: RequestHeader)
@main() {

    @userForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<form role="form" action='@br.ufes.scap.controllers.routes.UsersController.addUser()' method="post" align="center" autocomplete="off">

    <fieldset>
        <div class="col-xs-4">
            <div>
                <label style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Registrar Novo Usuário</label>
            </div>
            <br/>

                Nome
                <input type="text" id="nome" name="nome" value="" placeholder="Nome" required>
                <br>

		<br>

                Matricula
                <input type="text" class="form-control" id="matricula" name="matricula" value="" placeholder="Matricula"
                       required>
                <br>

		<br>

                E-mail
                <input type="text"  id="email" name="email" value="" placeholder="Email"
                       required>
		<br>
		<br>

                Senha
                <input type="password" id="password" name="password" value="" placeholder="Senha"
                       required>
                <br>

		<br>

            Tipo
		<select id=tipo name="tipo" value="">
    			<option value="PROFESSOR">PROFESSOR(A)</option>
    			<option value="SECRETARIO">SECRETARIO(A)</option>
		</select>

    </ul>
  </div>


<br>
<br>
            <br/>
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Adicionar Novo Usuário</button>
            </div>

        </div>
    </fieldset>
</form>

<br>
<br>
<br>
<br>
<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get" align="center">
                <button type="submit" >Voltar ao Menu Principal</button>
</form>


}
