@(buscaForm: Form[br.ufes.scap.models.BuscaFormData], users : Seq[br.ufes.scap.models.User])()

@import br.ufes.scap.models.{StatusSolicitacao, TipoAcessorio}

@main() {

    @buscaForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}
<body bgcolor="teal" >
<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

<form role="form" align="center" action='@br.ufes.scap.controllers.routes.SolicitacoesController.definirBusca()' method="post"
      autocomplete="off">

    <fieldset>

            <h1><font face="trebuchet ms" color="white">Buscar Solicitação de Afastamento</font></h1>
            <br/>

		<br>
		<font color="white" face="trebuchet ms">Professor: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>
		<select id="idProfessor" name="idProfessor" value="">
    			<option value=0>@TipoAcessorio.Todos.toString()</option>
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>
		<br>
		<br>
		<br>
		<font color="white" face="trebuchet ms">Relator: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp </font>
		<select id="idRelator" name="idRelator" value="">
    			<option value=0>@TipoAcessorio.Todos.toString()</option>
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>

		<br>
		<br>
		<br>

            <font color="white" face="trebuchet ms">Status da Solicitacao: &nbsp;&nbsp </font>

		<select id="status" name="status" value="">
    			<option value=@TipoAcessorio.Todos.toString()>@TipoAcessorio.Todos.toString()</option>
		@for(s <- StatusSolicitacao.values){
  			<option value=@s.toString()>@s.toString()</option>
		}
		</select>

		<br>
		<br>
		<br>
		<br>
		<br>
                <button type="submit">Executar Busca</button>
    </fieldset>
</form>

<br>
<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
</body>

}
