@()

@main() {
<body  bgcolor="teal">

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

<fieldset>
<h1><font color="white" face="trebuchet ms">Download concluído com sucesso</font></h1>

<font color="white" face="trebuchet ms"> Veja o documento na pasta "Pareceres" no diretório raiz do SCAP</font>
<br>
<br>
</fieldset>
<br>
<br>
<br>
<br>
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
}
