@(userForm: Form[br.ufes.scap.models.UserFormData],user : Option[br.ufes.scap.models.User])(implicit request: RequestHeader)

@main() {

    @userForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<form id="user-data-form" role="form" action='@br.ufes.scap.controllers.routes.ApplicationController.updateUser(user.get.id)' method="post"
      class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="user-fieldset">
        <div class="col-xs-4">
            <div class="user-form">
                <label class="form-title"
                       style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">title</label>
            </div>
            <br/>

            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon2"><b>Nome  </b></span>
                <input type="text" class="form-control" id="nome" name="nome" value=@user.get.nome
                       placeholder="Nome" aria-describedby="sizing-addon1" required>
                <br>
            </div>

		<br>

            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon2"><b>Matricula  </b></span>
                <input type="text" class="form-control" id="matricula" name="matricula" value=@user.get.matricula placeholder="Matricula"
                       aria-describedby="sizing-addon1" required>
                <br>
            </div>

		<br>

            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon2"><b>Email  </b></span>
                <input type="text" class="form-control" id="email" name="email" value="@user.get.email" placeholder="Email"
                       aria-describedby="sizing-addon1" required>

            </div>

		<br>

            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon2"><b>Senha  </b></span>
                <input type="password" class="form-control" id="password" name="password" value="@user.get.password" placeholder="Senha"
                       aria-describedby="sizing-addon1" required>
                <br>
            </div>

		<br> 

            <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon2"><b>Tipo  </b></span>
		<select id=tipo name="tipo">
    			<option value="@user.get.tipo">@user.get.tipo (A)</option>
			@{
				if (user.get.tipo == "PROFESSOR")
					<option value="SECRETARIO">SECRETARIO(A)</option> 
				else
					<option value="PROFESSOR">PROFESSOR(A)</option>
			}
		</select>
            </div>

    </ul>
  </div>

            <br/>
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Update</button>
            </div>
        </div>
    </fieldset>
</form>

<br>
<br>
<br>

<form id="user-list-form" role="form" action='@br.ufes.scap.controllers.routes.ApplicationController.index()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Listar Usuários</button>
            </div>
</form>
}
