@(userEditForm: Form[br.ufes.scap.models.UserEditFormData],user : Option[br.ufes.scap.models.User])()

@main() {

<body bgcolor="teal"  >

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

    @userEditForm.globalError.map { error =>
        <p class="error">
            <font face="trebuchet ms" color="yellow">@error.message </font>
        </p>
	}


      <form action = "@br.ufes.scap.controllers.routes.UsersController.updateUser(user.get.id)" align="center"
	method = "post">

    <fieldset>
           <h1><font face="trebuchet ms" color="white">Editar Usuário</font></h1>
	     <br>

      <form action = "@br.ufes.scap.controllers.routes.UsersController.updateUser(user.get.id)" align="center"
	method = "post">


                <font color="white" face="trebuchet ms">Nome &nbsp;&nbsp </font>  
                <input type="text" id="nome" name="nome" value="@user.get.nome" placeholder="Nome" required>

		<br>
		<br>

 			<font color="white" face="trebuchet ms">E-mail&nbsp;&nbsp </font>  
                <input type="text"  id="email" name="email" value="@user.get.email" placeholder="Email"
                       required>

		<br>
		<br>

                <font color="white" face="trebuchet ms">Senha  &nbsp;&nbsp </font>  
                <input type="password" id="password" name="password" value="@user.get.password" placeholder="Senha"
                       required>
<br>
<br>
<br>
<br>
         <input type = "submit" align="center" onclick="return confirm('Você tem certeza de que deseja confirmar essas mudanças?');" value = "Editar">

    </fieldset>
</form>

<br>
<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>

</body>

}
