@(userEditForm: Form[br.ufes.scap.models.UserEditFormData],user : Option[br.ufes.scap.models.User])()

@main() {

    @userEditForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}


      <form action = "@br.ufes.scap.controllers.routes.UsersController.updateUser(user.get.id)" align="center"
	method = "post">

    <fieldset class="user-fieldset">
        <div class="col-xs-4">
            <div class="user-form">
                <label style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Editar Usuário</label>
            </div>
            <br/>

      <form action = "@br.ufes.scap.controllers.routes.UsersController.updateUser(user.get.id)" align="center"
	method = "post">

		Nome
            <input type="text" class="form-control" id="nome" name="nome" value=@user.get.nome
            placeholder="Nome" required>

		<br>
		<br>

             Email 
             <input type="text" class="form-control" id="email" name="email" value="@user.get.email" placeholder="Email" required>


		<br>
		<br>

		Senha 
            <input type="password" class="form-control" id="password" name="password" value="@user.get.password" placeholder="Senha"
		required>
            <br>


		<br> 
            <br>
    </ul>
  </div>
         <input type = "submit" align="center" onclick="return confirm('Você tem certeza de que deseja confirmar essas mudanças?');" value = "Editar">

        </div>
    </fieldset>
</form>

<br>
<br>
<br>

<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get" align="center">
                <button type="submit" >Voltar ao Menu Principal</button>
</form>

}
