@(encaminhamentoForm: Form[br.ufes.scap.models.EncaminhamentoFormData], users : Seq[br.ufes.scap.models.User], solicitacao : br.ufes.scap.models.SolicitacaoFull)(implicit request: RequestHeader)
@main() {
<body bgcolor="teal"  >
    @encaminhamentoForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<form role="form" action='@br.ufes.scap.controllers.routes.SolicitacoesController.encaminharSolicitacao(solicitacao.id)' method="post" align="center" autocomplete="off">

    <fieldset>
       	<h1><font color="white" face="trebuchet ms">Designar Relator</font></h1>

            <br/>

<font color="white" face="trebuchet ms"> Designar relator para a solicitação do professor @solicitacao.professor.nome para o evento @solicitacao.nomeEvento</font>
		

            <input type="hidden" id="idProfessor" name="idProfessor" value="@solicitacao.professor.id">

		<br>
		<br>
		<font color="white" face="trebuchet ms"> Relator:  &nbsp;&nbsp </font>
		<select id=idRelator name="idRelator" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>
		<br>
		<br>
		<br>
		<br>

                <button type="submit" onclick="return confirm('Você tem certeza de que deseja designar esse professor(a) como relator(a) dessa solicitação de afastamento?');" class="btn btn-primary ynt-btn-orange">Designar</button>

    </fieldset>
</form>

<br>
<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
</body>
}
