@(encaminhamentoForm: Form[br.ufes.scap.models.EncaminhamentoFormData], users : Seq[br.ufes.scap.models.User], solicitacao : br.ufes.scap.models.SolicitacaoFull)(implicit request: RequestHeader)
@main() {

    @encaminhamentoForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<form id="solicitacao-data-form" role="form" action='@br.ufes.scap.controllers.routes.SolicitacoesController.encaminharSolicitacao(solicitacao.id)' method="post"
      class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="solicitacao-fieldset">
        <div class="col-xs-4">
            <div class="solicitacao-form">
                <label class="form-title"
                       style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Designar Relator</label>
            </div>
            <br/>

<p>Designar relator para a solicitacao do professor @solicitacao.professor.id para o evento @solicitacao.nomeEvento</p>

            <input type="hidden" id="idProfessor" name="idProfessor" value="@solicitacao.professor.id">

		<br>
		<b>Relator:  </b>
		<select id=idRelator name="idRelator" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>
            </div>

		<br>
		<br>

    </ul>
  </div>


            <br/>
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" onclick="return confirm('Você tem certeza de que deseja encaminhar essa solicitação para esse relator(a)?');" class="btn btn-primary ynt-btn-orange">Encaminhar Solicitação</button>
            </div>

        </div>
    </fieldset>
</form>

<br>
<br>
<br>

<form id="user-add-form" role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Voltar ao Menu Principal</button>
            </div>
</form>

}
