@(encaminhamentoForm: Form[br.ufes.scap.models.EncaminhamentoFormData], users : Seq[br.ufes.scap.models.User], solicitacao : Option[br.ufes.scap.models.Solicitacao], user : Option[br.ufes.scap.models.User])(implicit request: RequestHeader)
@main() {

    @encaminhamentoForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<form id="solicitacao-data-form" role="form" action='@br.ufes.scap.controllers.routes.SolicitacoesController.addSolicitacao()' method="post"
      class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="solicitacao-fieldset">
        <div class="col-xs-4">
            <div class="solicitacao-form">
                <label class="form-title"
                       style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Designar Relator</label>
            </div>
            <br/>

<p>Designar relator para a solicitacao do professor @user.get.id para o evento @solicitacao.get.nomeEvento</p>

            <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon2"><b>Relator:  </b></span>
		<select id=idProfessor1 name="idProfessor1" value="">
		@for(user <- users){
    			<option value=@user.id>@user.nome</option>
		}
		</select>
            </div>

		<br>
		<br>

    </ul>
  </div>


            <br/>
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Adicionar Nova Solicitacao</button>
            </div>

        </div>
    </fieldset>
</form>

<br>
<br>
<br>

<form id="user-add-form" role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Voltar ao Menu Principal</button>
            </div>
</form>

}
