@()()
@main() {

<!DOCTYPE html>
<html>
<body bgcolor="teal">
<br>
<br>
    <fieldset>
<h1><font color="white" face="trebuchet ms">Usuário não autorizado</font></h1>

<p><font color="white" face="trebuchet ms">Você não tem autorização para executar essa ação ou não está devidamente logado no sistema.</font></p>

<form align="center">
<a href="@br.ufes.scap.controllers.routes.LoginController.login"><font color="yellow" face="trebuchet ms">Clique aqui para efetuar seu login</font></a href>
</form>

</fieldset>
</body>
</html>
}
