@(mandatos : Seq[br.ufes.scap.models.MandatoFull], role : String)()

@import br.ufes.scap.models.TipoUsuario
@import java.util.Locale
@import java.time.format.TextStyle

@main() {

<html>

<body bgcolor="teal"  >

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

    <fieldset>
<h1><font color="white" face="trebuchet ms">Mandatos</font></h1>

<table style="width:100%" border="5" >

                <tr>
			  <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp PROFESSOR &nbsp;&nbsp</font></th>
                    <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp CARGO &nbsp;&nbsp </font></th>
                    <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp INICIO DO MANDATO &nbsp;&nbsp</font> </th>
                    <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp FIM DO MANDATO &nbsp;&nbsp</font></th>
			  @if(role.equals(TipoUsuario.Sec.toString())){
			  	<th><font color="white" face="trebuchet ms"> &nbsp;&nbsp DELETAR &nbsp;&nbsp </font></th>
			  }
                </tr>

                @for(mandato <- mandatos){
                <tr>
			  <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @mandato.professor.nome &nbsp;&nbsp</font></td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @mandato.cargo &nbsp;&nbsp </font></td>
			  <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @mandato.dataIniMandato.getDayOfMonth() de @mandato.dataIniMandato.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @mandato.dataIniMandato.getYear() &nbsp;&nbsp </font></td>
			  <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @mandato.dataFimMandato.getDayOfMonth() de @mandato.dataFimMandato.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @mandato.dataFimMandato.getYear() &nbsp;&nbsp </font></td>
			  @if(role.equals(TipoUsuario.Sec.toString())) {
	                    <td>&nbsp;&nbsp<a onclick="return confirm('Você tem certeza de que deseja deletar esse mandato?');" 					  href="@br.ufes.scap.controllers.routes.MandatosController.deleteMandato(mandato.id)"> <font color="yellow" face="trebuchet ms"> deletar</font></a> &nbsp;&nbsp</td>
			  }
                </tr>
                }
</table>
    </fieldset>


<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>

</body>
</html>
}
