@(parentescos : Seq[br.ufes.scap.models.ParentescoFull], role : String)()

@import br.ufes.scap.models.TipoUsuario

@main() {

<html>
<body bgcolor="teal"  >

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>


<fieldset>
<h1><font color="white" face="trebuchet ms">Parentescos</font></h1>

<font color="white" face="trebuchet ms"> * Parentescos podem ser sanguíneos ou matrimoniais.</font>
 <br>
 <br>
<table style="width:100%" border="5" >
                <tr>
                    <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp ID  &nbsp;&nbsp;&nbsp </font> </th>
                    <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp PROFESSOR(A) &nbsp;&nbsp </font> </th>
                    <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp PROFESSOR(A) &nbsp;&nbsp </font> </th>
			  @if(role.equals(TipoUsuario.Sec.toString())){
			  	<th><font color="white" face="trebuchet ms"> &nbsp;&nbsp DELETAR &nbsp;&nbsp </font></th>
			  }
                </tr>
                @for(p <- parentescos){
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @p.id&nbsp;&nbsp </font></td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp@p.professor1.nome &nbsp;&nbsp </font></td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @p.professor2.nome &nbsp;&nbsp </font></td>
			  @if(role.equals(TipoUsuario.Sec.toString())){
                    	<td>&nbsp;&nbsp <a href="@br.ufes.scap.controllers.routes.ParentescosController.deleteParentesco(p.id)"><font color="yellow" face="trebuchet ms"> deletar</font></a></td>
			  }
                </tr>
                }
</table>

</fieldset>

<br>
<br>
<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
</body>
</html>
}
