@(solicitacoes : Seq[br.ufes.scap.models.SolicitacaoFull])(implicit request: RequestHeader)

@import java.util.Locale
@import java.time.format.TextStyle

@main() {

<html>

<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
<h2>Usuários</h2>
<table style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>NOME DO PROFESSOR</th>
                    <th>NOME DO EVENTO</th>
			  <th>STATUS ATUAL</th>
			  <th>DATA INICIO DO AFASTAMENTO</th>
			  <th>DATA FIM DO AFASTAMENTO</th>
		        <th>VER MAIS DETALHES</th>
                </tr>

                @for(solicitacao <- solicitacoes){
                <tr>
                    <td>@solicitacao.id</td>
                    <td>@solicitacao.professor.get.nome</td>
                    <td>@solicitacao.nomeEvento</td>
			  <th>@solicitacao.status</th>
			  <td>@solicitacao.dataIniAfast.getDayOfMonth() de @solicitacao.dataIniAfast.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @solicitacao.dataIniAfast.getYear()</td>
			  <td>@solicitacao.dataFimAfast.getDayOfMonth() de @solicitacao.dataFimAfast.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @solicitacao.dataFimAfast.getYear()</td>
                    <td><a href="@br.ufes.scap.controllers.routes.SolicitacoesController.verSolicitacao(solicitacao.id)">VER</a></td>
                </tr>
                }
</table>

</body>


<br>
<br>

<a href="@br.ufes.scap.controllers.routes.SolicitacoesController.definirBuscaForm">Fazer busca</a>

<br>
<br>

<form id="user-add-form" role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Voltar ao Menu Principal</button>
            </div>
</form>

</html>
}
