@(pareceres : Seq[br.ufes.scap.models.ParecerFull], PareceresDocumento : Seq [br.ufes.scap.models.ParecerDocumentoFull])
@main() {

<html>

<a href="@br.ufes.scap.controllers.routes.LoginController.logout">Logout</a>

<body bgcolor="teal"  >
<h1><font color="white" face="trebuchet ms"> Pareceres</h1></font>

<fieldset>
<h1><font color="white" face="trebuchet ms"> Pareceres internos do DI </h1></font>
 
<table style="width:100%">
                <tr>
                    <th>PROFESSOR</th>
                    <th>JULGAMENTO</th>
			  <th>VER MAIS DETALHES</th>
                </tr>
                @for(p <- pareceres){
                <tr>
                    <td>@p.professor.nome</td>
                    <td>@p.julgamento</td>
                    <td><a href="@br.ufes.scap.controllers.routes.PareceresController.verParecer(p.id)">Ver mais detalhes</a></td>
                </tr>
                }
</table>
<fieldset>
<br>
<br>
<br>

<h1> Pareceres externos </h1>

<table style="width:100%">
                <tr>
                    <th>TIPO</th>
                    <th>JULGAMENTO</th>
			  <th>VER MAIS DETALHES</th>
                </tr>
                @for(p <- PareceresDocumento){
                <tr>
                    <td>@p.tipo</td>
                    <td>@p.julgamento</td>
                    <td><a href="@br.ufes.scap.controllers.routes.PareceresDocumentoController.verParecer(p.id)">Ver mais detalhes</a></td>
                </tr>
                }
</table>

</body>


<br>
<br>

<br>
<form id="parentesco-add-form" role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Voltar ao Menu Principal</button>
            </div>
</form>

</html>
}
