@(userForm: Form[br.ufes.scap.models.UserFormData],users : Seq[br.ufes.scap.models.User])(implicit request: RequestHeader)

@import br.ufes.scap.models.TipoUsuario

@main() {
<html>

<body bgcolor="teal"  >

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

    <fieldset>
<h1><font color="white" face="trebuchet ms">Professores</font></h1>

<table style="width:100%" border="5" >

                <tr>

                    <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp ID  &nbsp;&nbsp </font>  </th>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp NOME &nbsp;&nbsp </th>
                    <th><font color="white" face="trebuchet ms"> &nbsp;&nbsp MATRICULA &nbsp;&nbsp </th>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp E-MAIL &nbsp;&nbsp</th>
			  <th><font color="white" face="trebuchet ms">&nbsp;&nbsp MANDATOS &nbsp;&nbsp</th>
			  <th><font color="white" face="trebuchet ms">&nbsp;&nbsp PARENTESCOS &nbsp;&nbsp</th>
			  <th><font color="white" face="trebuchet ms">&nbsp;&nbsp AFASTAMENTOS &nbsp;&nbsp</th>
                </tr>
                @for(user <- users){
                <tr>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @user.id &nbsp;&nbsp </font></td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @user.nome &nbsp;&nbsp </font></td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @user.matricula &nbsp;&nbsp </font></td>
                    <td><font color="white" face="trebuchet ms"> &nbsp;&nbsp @user.email &nbsp;&nbsp </font></td>
                    <td>&nbsp;&nbsp <a href="@br.ufes.scap.controllers.routes.MandatosController.showMandatosByProfessor(user.id)"><font color="yellow" face="trebuchet ms">ver mandatos</font></a>&nbsp;&nbsp</td> 
                    <td>&nbsp;&nbsp <a href="@br.ufes.scap.controllers.routes.ParentescosController.listarParentescosByProfessor(user.id)"><font color="yellow" face="trebuchet ms">ver parentescos</font></a>&nbsp;&nbsp</td> 
                    <td>&nbsp;&nbsp <a href="@br.ufes.scap.controllers.routes.SolicitacoesController.showAfastamentosByProfessor(user.id)"><font color="yellow" face="trebuchet ms">ver afastamentos</font></a>&nbsp;&nbsp</td>  
                </tr>
                }
</table>
<br>
<br>
    </fieldset>
<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>


</body>
</html>
}
