@(mandatos : Seq[br.ufes.scap.models.MandatoFull], role : String)()

@import br.ufes.scap.models.TipoUsuario
@import java.util.Locale
@import java.time.format.TextStyle

@main() {

<html>

<h1>Mandatos</h1>


<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>

<table style="width:100%">

                <tr>
			  <th>PROFESSOR</th>
                    <th>CARGO</th>
                    <th>DATA INICIO DO MANDATO</th>
                    <th>DATA FIM DO MANDATO</th>
			  @if(role.equals(TipoUsuario.Sec.toString())){
			  	<th>DELETAR</th>
			  }
                </tr>

                @for(mandato <- mandatos){
                <tr>
			  <td>@mandato.professor.nome</td>
                    <td>@mandato.cargo</td>
			  <td>@mandato.dataIniMandato.getDayOfMonth() de @mandato.dataIniMandato.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @mandato.dataIniMandato.getYear()</td>
			  <td>@mandato.dataFimMandato.getDayOfMonth() de @mandato.dataFimMandato.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @mandato.dataFimMandato.getYear()</td>
			  @if(role.equals(TipoUsuario.Sec.toString())) {
	                    <td><a onclick="return confirm('Você tem certeza de que deseja deletar esse mandato?');" 					  href="@br.ufes.scap.controllers.routes.MandatosController.deleteMandato(mandato.id)">deletar</a></td>
			  }
                </tr>
                }
</table>

</body>


<br>
<br>

<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get" align="center">
                <button type="submit" >Voltar ao Menu Principal</button>
</form>

</html>
}
