@(pareceres : Seq[br.ufes.scap.models.ParecerFull], PareceresDocumento : Seq [br.ufes.scap.models.ParecerDocumentoFull])
@main() {

<html>

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

<body bgcolor="teal"  >
<fieldset>
<h1><font color="white" face="trebuchet ms"> Pareceres</h1></font>

<fieldset>
<h1><font color="white" face="trebuchet ms"> Pareceres internos do DI </h1></font>
 
<table style="width:100%"  border="5">
                <tr>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp PROFESSOR &nbsp;&nbsp</font></th>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp JULGAMENTO &nbsp;&nbsp</font></th>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp VER MAIS DETALHES &nbsp;&nbsp</font></th>
                </tr>
                @for(p <- pareceres){
                <tr>
                    <td><font color="white" face="trebuchet ms">&nbsp;&nbsp @p.professor.nome&nbsp;&nbsp</font></td>
                    <td><font color="white" face="trebuchet ms">&nbsp;&nbsp @p.julgamento&nbsp;&nbsp</font></td>
                    <td>&nbsp;&nbsp<a href="@br.ufes.scap.controllers.routes.PareceresController.verParecer(p.id)"><font color="yellow" face="trebuchet ms">Ver mais detalhes</font></a>&nbsp;&nbsp</td>
                </tr>
                }
</table>
</fieldset>
<br>
<br>
<br>

<fieldset>
<h1><font color="white" face="trebuchet ms">Pareceres externos </font></h1>

<table style="width:100%" border="5">
                <tr>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp TIPO &nbsp;&nbsp</font></th>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp JULGAMENTO &nbsp;&nbsp</font></th>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp VER MAIS DETALHES &nbsp;&nbsp</font></th>
                </tr>
                @for(p <- PareceresDocumento){
                <tr>
                    <td><font color="white" face="trebuchet ms">&nbsp;&nbsp @p.tipo &nbsp;&nbsp</font></td>
                    <td><font color="white" face="trebuchet ms">&nbsp;&nbsp @p.julgamento &nbsp;&nbsp</font></td>
                    <td>&nbsp;&nbsp <a href="@br.ufes.scap.controllers.routes.PareceresDocumentoController.verParecer(p.id)"><font color="yellow" face="trebuchet ms">Ver mais detalhes</font></a>&nbsp;&nbsp</td>
                </tr>
                }
</table>
</fieldset>

<br>
</fieldset>
<br>
<br>
<br>
<br>
<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>
</body>
</html>
}
