@(solicitacoes : Seq[br.ufes.scap.models.SolicitacaoFull])()

@import java.util.Locale
@import java.time.format.TextStyle

@main() {

<html>

<form align="right">
<a href="@br.ufes.scap.controllers.routes.LoginController.logout"><font color="yellow" face="trebuchet ms">Logout</font></a>
</form>

<body bgcolor="teal" >
    <fieldset>
<h1><font color="white"  face="trebuchet ms"> Solicitações</font></h1>
<table style="width:100%"  border="5">
                <tr>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp ID  &nbsp;&nbsp </font>  </th>
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp PROFESSOR  &nbsp;&nbsp </font>  </th>                    
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp EVENTO  &nbsp;&nbsp </font>  </th>                    
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp STATUS ATUAL &nbsp;&nbsp </font>  </th>                    
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp INÍCIO DO AFASTAMENTO  &nbsp;&nbsp </font>  </th>                    
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp FIM DO AFASTAMENTO  &nbsp;&nbsp </font>  </th>                    
                    <th><font color="white" face="trebuchet ms">&nbsp;&nbsp VER MAIS DETALHES  &nbsp;&nbsp </font>  </th>                    
</font>
                </tr>

                @for(solicitacao <- solicitacoes){
                <tr>
 			<td><font color="white" face="trebuchet ms">&nbsp;&nbsp @solicitacao.id &nbsp;&nbsp </font></td>
			<td><font color="white" face="trebuchet ms">&nbsp;&nbsp @solicitacao.professor.nome &nbsp;&nbsp</font></td>
 			<td><font color="white" face="trebuchet ms">&nbsp;&nbsp @solicitacao.nomeEvento &nbsp;&nbsp</font></td>
			<td><font color="white" face="trebuchet ms">&nbsp;&nbsp @solicitacao.status &nbsp;&nbsp </font></td>
                  <td><font color="white" face="trebuchet ms">&nbsp;&nbsp @solicitacao.dataIniAfast.getDayOfMonth() de @solicitacao.dataIniAfast.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @solicitacao.dataIniAfast.getYear() &nbsp;&nbsp </font></td>
 			<td><font color="white" face="trebuchet ms">&nbsp;&nbsp @solicitacao.dataFimAfast.getDayOfMonth() de @solicitacao.dataFimAfast.getMonth().getDisplayName(TextStyle.FULL, new Locale("pt")) de @solicitacao.dataFimAfast.getYear() &nbsp;&nbsp </font></td>
 			<td>&nbsp;&nbsp <a href="@br.ufes.scap.controllers.routes.SolicitacoesController.verSolicitacao(solicitacao.id)"><font color="yellow" face="trebuchet ms">Ver mais detalhes</font></a>&nbsp;&nbsp </td>
                </tr>
                }

</table>

</body>


<br>
<br>

<form align="center">
<a href="@br.ufes.scap.controllers.routes.SolicitacoesController.definirBuscaForm"><font color="yellow" face="trebuchet ms">Fazer busca</font></a>
</form>
    </fieldset>
<br>
<br>

<form align="left">
<a href="@br.ufes.scap.controllers.routes.LoginController.menu()"><font color="yellow" face="trebuchet ms">Voltar ao Menu Principal</font></a>
</form>


</html>
}
