@(userLoginForm: Form[br.ufes.scap.models.UserLoginFormData])
@main(){

    @userLoginForm.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
	}

<body bgcolor="teal">

<form role="form" action='@br.ufes.scap.controllers.routes.LoginController.login()' method="post"
      align="center" autocomplete="off">

    <fieldset class="user-fieldset">

                <h1><font color="white">Login</font></h1>

 		    <font color="white">Matricula &nbsp;&nbsp </font>  
                <input type="text" id="matricula" name="matricula" value="" placeholder="matricula" required>
                <br>

		<br>

               <font color="white"> Senha &nbsp;&nbsp </font> 
                <input type="password" id="password" name="password" value="" placeholder="senha" required>
                <br>

		<br>

                <button type="Login" class="btn btn-primary ynt-btn-orange">Login</button>


    </fieldset>
</form>
</body>

}
