@(userForm: Form[br.ufes.scap.models.UserFormData], user : Option[br.ufes.scap.models.User])(implicit request: RequestHeader)
@main() {
<!DOCTYPE html>
<html>
<body>

<h1>Menu Principal</h1>
<p>My first paragraph.</p>

<br>
<a href="@br.ufes.scap.controllers.routes.UsersController.index">Listar Usuários</a>
<br>
<a href="@br.ufes.scap.controllers.routes.SolicitacoesController.index">Listar Solicitações</a>
<br>
<a href="@br.ufes.scap.controllers.routes.UsersController.addUser">Adicionar Usuário</a>
<br>
<a href="@br.ufes.scap.controllers.routes.UsersController.editUser(user.get.id)">Editar seu perfil</a>
<br>

</body>
</html>
}
