@(userForm: Form[br.ufes.scap.models.UserFormData], user : Option[br.ufes.scap.models.User])(implicit request: RequestHeader)
@main() {
<!DOCTYPE html>
<html>
<body>

<a href="@br.ufes.scap.controllers.routes.LoginController.logout">Logout</a>

<h1>Menu Principal</h1>

<br>
<a href="@br.ufes.scap.controllers.routes.UsersController.index">Listar Usuários</a>
<br>
<br>
<a href="@br.ufes.scap.controllers.routes.SolicitacoesController.index">Listar Solicitações</a>
<br>
<br>
<a href="@br.ufes.scap.controllers.routes.ParentescosController.index">Listar Parentescos</a>
<br>
<br>
<a href="@br.ufes.scap.controllers.routes.UsersController.addUser">Adicionar Usuário</a>
<br>
<br>
<a href="@br.ufes.scap.controllers.routes.UsersController.editUser(user.get.id)">Editar seu perfil</a>
<br>
<br>


</body>
</html>
}
