@(parecer : Option[br.ufes.scap.models.Parecer])

@main() {

<p>Julgamento: @parecer.get.julgamento</p>
<br>
<p>Motivo: @parecer.get.motivo</p>
<br>
<br>
<form id="user-list-form" role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Voltar ao Menu Principal</button>
            </div>
</form>
}
