@(solicitacao : br.ufes.scap.models.SolicitacaoFull, userTipo : String)(implicit request: RequestHeader)

@main() {

<p>Solicitacao para o evento "@solicitacao.nomeEvento" feita pelo Professor @solicitacao.professor.get.nome</p>

<br>
<br>
<br>

<form action="@br.ufes.scap.controllers.routes.SolicitacoesController.deleteSolicitacao(solicitacao.id)" align="center" method="get">
@{ if(userTipo.equals("AUTOR")){

}
}
  <input type="submit" value="Deletar">
</form>

<br>
<br>
<br>

<form action="@br.ufes.scap.controllers.routes.SolicitacoesController.deleteSolicitacao(solicitacao.id)" align="center" method="get">
  <input type="submit" value="Deletar">
</form>

<br>
<br>
<br>

<form id="user-list-form" role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Voltar ao Menu Principal</button>
            </div>
</form>

}
