@(solicitacao : br.ufes.scap.models.SolicitacaoFull, userTipo : String)(implicit request: RequestHeader)

@main() {

<p>Solicitacao para o evento "@solicitacao.nomeEvento"</p> 
<p>Professor: @solicitacao.professor.get.nome</p>
<p>Status Atual: @solicitacao.status
@if(solicitacao.relator != None){
<p>Relator: @solicitacao.relator.get.nome</p>
}else{
<p>Relator: Não designado</p>
}
<p> Tipo Afastamento : @solicitacao.tipoAfastamento</p>
<br>
<br>
<br>


@if(userTipo.equals("SECRETARIO") && (solicitacao.status.equals("REPROVADA") || solicitacao.status.equals("APROVADA-PRPPG"))){
<form action="@br.ufes.scap.controllers.routes.SolicitacoesController.arquivar(solicitacao.id)" align="center" method="get">
  <input type="submit" value="Arquivar">
</form>
<br>
<br>
}

@if(userTipo.equals("SECRETARIO") && (solicitacao.status.equals("APROVADA-DI") || solicitacao.status.equals("APROVADA-CT"))){
<form action="@br.ufes.scap.controllers.routes.PareceresDocumentoController.registrarParecerDocumentoForm(solicitacao.id)" align="center" method="get">
  <input type="submit" value="Registrar Parecer">
</form>
<br>
<br>
}

@if(userTipo.equals("CHEFE") && solicitacao.status.equals("INICIADA")){
<form action="@br.ufes.scap.controllers.routes.SolicitacoesController.encaminharSolicitacao(solicitacao.id)" align="center" method="get">
  <input type="submit" value="Designar Relator">
</form>
<br>
<br>
}

@if(userTipo.equals("AUTOR") && !solicitacao.status.equals("CANCELADA")){
<form action="@br.ufes.scap.controllers.routes.SolicitacoesController.deleteSolicitacao(solicitacao.id)" align="center" method="get">
  <input type="submit" onclick="return confirm('Você tem certeza de que deseja cancelar essa solicitação?');" value="Deletar">
</form>
<br>
<br>
}

@if(userTipo.equals("PROFESSOR") && (solicitacao.status.equals("INICIADA") || solicitacao.status.equals("LIBERADA")) ){
<form action="@br.ufes.scap.controllers.routes.PareceresController.manifestarContraForm(solicitacao.id)" align="center" method="get">
  <input type="submit" value="Manifestar-se Contra">
</form>
<br>
<br>
}

@if(userTipo.equals("RELATOR") && solicitacao.status.equals("LIBERADA")){
<form action="@br.ufes.scap.controllers.routes.PareceresController.registrarParecer(solicitacao.id)" align="center" method="get">
  <input type="submit" value="Registrar Parecer">
</form>
<br>
<br>
}


<form action="@br.ufes.scap.controllers.routes.PareceresController.index(solicitacao.id)" align="center" method="get">
  <input type="submit" value="Ver Pareceres">
</form>

<br>
<br>
<br>
<form id="user-list-form" role="form" action='@br.ufes.scap.controllers.routes.LoginController.menu()' method="get"
      class="form-horizontal" align="center" autocomplete="off">
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Voltar ao Menu Principal</button>
            </div>
</form>
}
